body{
    background-color:slategray;
}

h1{
    color:darkslategrey;
    text-align: center;
}
#toys-table{
    display:none;
}
#toys{
    background-color: dodgerblue;
    border-radius: 10px;
}
img{
    width:400px;
    height:400px;
    display: block;
    margin:0 auto;
}
img:hover{
    opacity: 50%;
}
.col1of3{
    margin:5px;
    padding-bottom: 10px;
}

@media only screen and (min-width: 900px){ 
    .flex-container{
        display: flex;
    }
    .col1of3{
        flex:1;
    }
}