/* Structure */
body{
    background-color: lightblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#main-nav{
    font-family: Arial, Helvetica, sans-serif;
}
/* Animation */

/* Navigation */
#main-nav{
    font-size: 30px;
    align-content: center;
}

#main-nav li{

    text-align: center;
    list-style-type: none;
    background-color: antiquewhite;
    padding: 15px;
    margin: 5px;
    border-radius: 25px;
}
#main-nav a{
    text-decoration: none;
    color: black;
    display: block;
}

/* Typography */
h1{
    text-align: center;
    color:navy;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    text-align: center;
    color:  firebrick;
    font-family: 'Times New Roman', Times, serif;
}
/* Media Query */

@media (min-width: 575px) {
    #main-nav ul{
        display:flex;
    }
}

/* Resolutions */
img{
    width: 300px;
    border-radius: 10px;
}

